{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load bootstrap %}
{% block content %}
<form action="" method="post" class="form-horizontal" role="form">
<fieldset>
<legend>{% trans "Compose Message"%}</legend>
{% csrf_token %}
{% for field in form %}
{{ field|bootstrap }}
{% endfor %}
<div class="form-group">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <button type="submit" class="btn btn-default">{% trans "Send" %}</button>
    </div>
</div>
</fieldset>
</form>
{% endblock %}